.login-container{
    h1{
        margin-top: 200px;
        margin-bottom: 35px;
    }

    .send-button{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .go-to-app-btn{
        margin-top: 10px;
    }
}
